.chat-container {
  /* margin: 0 5% 0 5%; */
  height: 100vh;
}

.chat-container .main {
  height: calc(100vh - 64px);
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;

  display: flex;
}

.chat-container .conversation-title {
  background-color: #ececec;
  font-size: 26px;
  min-height: 60px;
  border-bottom: 2px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container .conversation-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 68%;
}

/* chiếm hết phần thừa khi thằng khác chiếm */
.chat-container .list-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
}

#send-message-form {
  padding: 22px 15px;
  border-top: 1px solid #dbdbdb;
  position: relative;
}

#messageInput {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 2px solid #dbdbdb;
  outline: 0;
}
#send-message-form button {
  position: absolute;
  bottom: 25%;
  right: 1%;
}

.list-messages .message .message-content {
  background-color: #dbdbdb;
  max-width: 45%;
  width: max-content;
  padding: 10px;
  border-radius: 8px;
  word-break: break-all;
}
.list-messages .message .owner {
  font-size: 15px;
  font-weight: bold;
}

.list-messages .message.message-mine {
  display: flex;
  justify-content: flex-end;
}
.list-messages .message.message-mine .message-content {
  color: #fff;
  background-color: #FE7A15;
  margin: 2px 0;
}
.list-messages .message.message-other {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* FOR LEFT ASIDE ON SCREEN */
.chat-container .left-aside {
  width: 17%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
  overflow: hidden;
}

.chat-container .main .left-aside .create-conversation {
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container .left-aside .conversation {
  border: 1px dashed #dbdbdb;
  padding: 10px;
  cursor: pointer;
}
.chat-container .left-aside .current {
  background-color: #dbdbdb;
  position: relative;
}
.chat-container .new-conversation {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
}
.chat-container .new-conversation .btn-cancel{
  background-color: #dbdbdb;
  color: black;
}
.chat-container .new-conversation input {
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-top: 2%;
}
.chat-container .new-conversation .form-action-btn {
  margin-top: 2%;
}
.chat-container .left-title-chat {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* FOR RIGHT ASIDE ON SCREEN */
.chat-container .right-aside {
  width: 17%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
  overflow: hidden;
  padding: 15px;
}
.chat-container .right-aside-title {
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.chat-container .right-aside .add-user-action {
  margin-top: 15px;
}
.chat-container .right-aside .user {
  overflow: hidden;
  text-overflow: ellipsis;
}
/**FORMAT NOTIFICATION*/
.chat-container .notification {
  width: 15px;
  height: 15px;
  background-color: #037BFE;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 22px;
  display: none;
}


/****RESPONSIVE*****/
@media only screen and (max-width: 768px) {
  .chat-container .right-aside {
    display: none;
  }
  .chat-container .conversation-details {
    width: 83%;
  }
  .chat-container .number-users {
    display: none;
  }
  .chat-container .conversation {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .chat-container .conversation:first-child {
    margin-top: 10px;
  }
}
