.chat-container {
  margin: 0 5% 0 5%;
  height: 100vh;
}
.chat-container .header {
  color: #fff;
  background-color: #037bfe;
  font-size: 24px;
  height: 64px;
  text-align: center;
  line-height: 64px;
}

.chat-container .main {
  height: calc(100vh - 64px);
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;

  display: flex;
}

.chat-container .conversation-title {
  background-color: #ececec;
  font-size: 26px;
  min-height: 60px;
  border-bottom: 2px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container .conversation-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

/* chiếm hết phần thừa khi thằng khác chiếm */
.chat-container .list-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
}

#send-message-form {
  padding: 22px 15px;
  border-top: 1px solid #dbdbdb;
  position: relative;
}

#messageInput {
  border: none;
  width: 100%;
  padding: 5px;
  border-radius: 2px solid #dbdbdb;
  outline: 0;
}
#send-message-form button {
  position: absolute;
  bottom: 25%;
  right: 1%;
}

.list-messages .message .message-content {
  background-color: #dbdbdb;
  max-width: 45%;
  width: max-content;
  padding: 10px;
  border-radius: 8px;
}
.list-messages .message .owner {
  font-size: 15px;
  font-weight: bold;
}

.list-messages .message.message-mine {
  display: flex;
  justify-content: flex-end;
}
.list-messages .message.message-mine .message-content {
  color: #fff;
  background-color: #FE7A15;
  margin: 2px 0;
}
.list-messages .message.message-other {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/* FOR LEFT ASIDE ON SCREEN */
.chat-container .left-aside {
  width: 20%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}

.chat-container .main .left-aside .create-conversation {
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container .left-aside .conversation {
  border: 1px dashed #dbdbdb;
  padding: 10px;
  margin-bottom: 2px;
  cursor: pointer;
  width: 98%;
}
.chat-container .left-aside .current {
  background-color: #dbdbdb;
}

.chat-container .new-conversation {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
}
.chat-container .new-conversation .btn-cancel{
  background-color: #dbdbdb;
  color: black;
}
.chat-container .new-conversation input {
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-top: 2%;
}
.chat-container .new-conversation .form-action-btn {
  margin-top: 2%;
}